.hamburger {
    margin-top: 0;
    width: 10%;
    display: none;
    float: right;
    cursor: pointer;
}

.line {
    height: 0.2rem;
    background: #f9e42e;
    border-radius: 5px;
    margin: 0.3rem auto;
    width: 90%;
}


/*Media callouts*/

@media only screen and (max-width: 768px) {
    html,
    body {
        font-size: 16px;
    }
    header {
        /*        height: 5%;*/
        padding: .625rem 0;
    }
    header nav {
        clear: both;
        /*        height: 0;*/
        display: none;
        overflow: hidden;
        float: none;
        transition: height 250ms ease;
    }
    .show {
        /* height calculation is as follows:
      the height of the li is 1em 
      multiply that by the line height of 1.4
      add in 5px top border
      add in 3 px top padding
      multiply by 5 because there are 5 items in the list
    */
        /*        height: calc((1.4em + 5px + 3px)* 5);*/
        display: block;
    }
    .hide {
        display: none;
    }
    header nav ul li {
        display: block;
        text-align: center;
        font-size: 1em;
    }
    /*
    nav li {
        display: block;
        clear: both;
        text-align: center;
         these properties have been added just to make 
    the height calculation above more interesting 
        border-top: 5px solid #fff;
        padding-top: 3px;
    }
*/
    .logo {
        font-size: 1.5em;
    }
    .hamburger {
        display: block;
    }
    .container {
        width: auto;
        padding: .625rem;
    }
    #main {
        margin-top: 0;
    }
    #hero {
        height: 40%;
        background-size: cover;
        padding: 1.225rem;
    }
    .post {
        margin-bottom: 1%;
        padding-bottom: 1%;
    }
    #hero h2,
    #posts h2 {
        font-size: 1.25em;
        margin: 1%;
    }
    #posts {
        width: auto;
    }
    .post p:first-of-type:first-letter {
    float: left;
    font-size: 2.5em;
    line-height: .975em;
/*
    padding-top: .25rem;
    padding-right: .5rem;
    padding-left: .1875rem;    
*/
}
    .post p {
        font-size: 1rem;
        margin-bottom: 1%;
    }
    .readmore,
    .readless {
        text-align: right;
        margin-top: 1%;
    }
    .readmore a,
    .readless a {
        color: #043049;
        font-weight: 600;
    }
    .post img {
        max-width: 98%;
        margin-bottom: 1%;
    }
    .button {
        border-radius: .3125rem;
        padding: .3125rem 0;
        width: 8rem;
        font-size: 1em;
    }
    .blue {
        font-size: 1em;
    }
    #benefits {
        height: 40%;
        padding: .875rem 0;
    }
    h3 {
        font-size: 1.25em;
        margin-bottom: 0;
    }
    #sidebar h3, #sidebar ul, #sidebar ul li a, #sidebar p, #sidebar img, #sidebar {
        width: auto;
    }
    #sidebar h3 {
        font-size: 1em;
        margin-bottom: 1%;
    }
    #sidebar ul li a {    
    font-size: .95em;
}
    #sidebar ul {
    margin-bottom: 1%;
}
    #sidebar p {
    font-size: .95em;
    margin-bottom: 1%;
}
    #sidebar img {
        height: 150px;
        
    
    }
    #benefits p,
    #benefits ul {
        width: auto;
    }
    #benefits ul {
        list-style: disc;
        margin: .275rem 0 0 4rem;
    }
    #testimonial {
        /*        height: 28.99999%;*/
        background-size: cover;
        padding: .425rem;
    }
    blockquote {
        width: auto;
        font-size: 1em;
    }
    #bottom-cta {
        /*        height: 5%;*/
        padding: .325rem;
        width: auto;
    }
    footer {
        /*        height: 5%;*/
        padding: .625rem;
        /*        margin: 0;*/
    }
    footer .logo {
        margin-bottom: .425rem;
    }
    footer ul li {
        margin: .325rem;
    }
    .copyright {
        font-size: .5em;
    }
}